body {
    background-color: #d7d7d7;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 19.2000007629395px;
    text-transform: uppercase;
}

.credits {
    color: white;
    text-transform: uppercase;
}

.pad {
    padding-top: 5px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

button, .button {
    margin-bottom: 0px !important;
}

nav.top-bar input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 0 0 0 0;
}

.top-bar .name h1 {
    color: white;
}

ul.left {
    padding-left: 1em;
}

.row {
    padding-top: 1em;
    max-width: 300em;
}

.column {
    padding-left: 0.2rem;
    padding-right: 0;
}

.cart {
    width: 325px;
}

.cart-header {
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
}

.cart-header-title {
    color: #333;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

.util-grid-cell {
    flex: 1;
}

button.tiny, .button.tiny {
    padding: .5rem 1rem;
    border-radius: 4px;
}

.selectedTerm {
    margin-top: .25rem;
}

.cart-add {
    margin: .1rem 0;
    padding: 1rem;
    padding-top: .75rem;
    font-size: 1.4rem;
    background-color: white;
}

.cart-add-contents {
    display: flex;
    align-items: flex-end;
}

.cart-add-course {
    flex: 2 1 0;
}

.cart-add-section {
    flex: 1 1 0;
}

.cart-add-button {
    flex: 2.2 1 0;
    text-align: right;
}

.cart-listing {
    background-color: white;
}

.schedule {
    padding-left: 0.3rem;
    background-color: #f4f4f4;
    width: 90%;
    height: 600px;
    padding: 10px;
}

.label-top {
    display: block;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

input {
    color: #666;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    padding: .25rem;
    text-transform: uppercase;
    width: 90%;
}